<div class="flex flex-col w-full my-5">
    <h1>บ้านแชร์วันนี้</h1>
    <%= render partial: '/shared/card', locals: {baans: @baansToday}%>
    <h1>บ้านแชร์วันอื่น ๆ</h1>
    <%= render partial: '/shared/card', locals: {baans: @baansOtherDay}%>
</div>